extends layout

block content

  main
    .container
      
  


  //-     
  //- .content#about
  //-   h1 A little about me:
  //-   p
  //-     ul
  //-       li Russian/American
  //-       li BS in Business Administration - Leeds School of Business
  //-       li Hugely extroverted
  //-       li Varied interests, but marketing seems broad enough to keep me here a while
  //-   p Contact me:
  //- .content#resume
  //-   p Resume
  //- .content#work
  //-   p Work
  //- .content#fun
  //-   p Fun
