doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    header
    nav.blue.lighten-3
      .container
        .nav-wrapper
          .circle.brand-logo.right
          ul.left
            li#about
              a(href="/") About
            li
              a(href="/resume") Resume
            li
              a(href="/portfolio") Portfolio
            li
              a(href="/for-fun") For Fun
            li
              a(href="/contact-me") Contact Me
  
    block content
    
    footer.page-footer.blue.lighten-3
      .container
        .social-media-links.center
          a(href="http://www.facebook.com")
            i(aria-hidden="true").fa.fa-facebook
          a(href="http://www.twitter.com")
            i(aria-hidden="true").fa.fa-twitter
          a(href="http://www.linkedin.com")
            i(aria-hidden="true").fa.fa-linkedin
        .footer-copyright
          .container.center
            p © Valeria Dikovitskaya 2016
        
    
    script(src="http://code.jquery.com/jquery-1.12.0.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
    script(src="/javascripts/main.js")
