extends layout

block content
  main
    .container
      .row
        .col.s6
          .card.small.portfolio-item
            .card-image
              img(src="https://images.unsplash.com/photo-1430760903787-4d91bbf15384?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=98326a6e44d1b6bbcddb0d89f75ed95c")
              span.card-title Graphic Design
            .card-content
              p Stuff about your graphic design work. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi laudantium sed quidem molestiae atque quam, voluptatem, iure, quae necessitatibus cumque odio.
        .col.s6
          .card.small.portfolio-item
            .card-image
              img(src="https://images.unsplash.com/photo-1444988510113-d8e9c6741202?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=03d3fabafa0a9d56762fc4740a8a8ce7")
              span.card-title Marketing
            .card-content
              p Stuff about your marketing work. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum nam quod eum velit, minima similique animi quas ut! Doloremque, expedita enim. Cupiditate ad ullam voluptates incidunt quis, nemo repellendus, laboriosam.
      .col.s6
        .card.small.portfolio-item
          .card-image
            img(src="https://images.unsplash.com/photo-1418118253275-8faee2d8e6a8?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=01e5ad00a4ce443850f4b1a356ecf8df")
            span.card-title Other Areas
          .card-content
            p Maybe you have some stuff if you want. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias adipisci eos nam incidunt, saepe accusantium voluptatibus libero nihil impedit, odio illo et non dolore praesentium rerum atque ipsum ratione, animi!
      
  aside#portfolio-graphic
   .container.center
     img(src="http://placehold.it/350x150")
     img(src="http://placehold.it/350x150")
     img(src="http://placehold.it/350x150")
     img(src="http://placehold.it/350x150")
     img(src="http://placehold.it/350x150")
